[submodule "projetos-alura/algoritmos-nao-supervisionados"]
	path = projetos-alura/algoritmos-nao-supervisionados
	url = git@github.com:alura-cursos/machine-learning-algoritmos-nao-supervisionados.git
[submodule "projetos-alura/introducao-sklearn"]
	path = projetos-alura/introducao-sklearn
	url = git@github.com:alura-cursos/machine-learning-introducao-a-classificacao-com-sklearn.git
